body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

.content {
    margin: 0 auto;
    width: 400px;
}
.tab-10px {
    display: inline-block;
    margin-left: 10px;
}
table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.anchor-link {
    color: gray;
    text-decoration: none;
    padding-left: .3em; 
}

.anchor-link:hover {
    color: blue;
    text-decoration: none; 
    transition: color 0.30s ease-in-out,opacity 0.30s ease-in-out;
}

.btn-group {
    font-size: 12px; /*or whatever size */
  }

.alignleft {
	float: left;
    padding-left: 2%;
    padding-top: 1%;
}
.alignright {
	float: right;
    padding-right: 2%;
    padding-top: 1%;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:visited {
    color: silver !important;
}

.accordion {
    padding-left: 2%;
    padding-right: 2%;
}

#objective.btn-group {
    padding-left: 75%;
}

#keyresult.btn-group {
    padding-left: 73%;
}

#task.btn-group {
    padding-left: 80%;
}

#objective_content {
    margin-top: 0%;
    margin-left: 2%;
}

#tips_hide_button {
    margin-top: 0%;
    margin-left: 2%;
}

#tips_show_button {
    margin-top: 0%;
    margin-left: 2%;
}

.text-block {
    padding: 2% 5% 2% 5%;
}

.table-of-contents {
    padding: 0% 5% 2% 5%;
}

#instructions-block.text-block{
    padding: 2% 5% 2% 5%;
}