{% extends 'base.html' %}

{% block head %}
    <h1 style="text-align: center;">About</h1>
{% endblock %}

{% block body %}

    <div class="text-block">
        <h2>What is this product?</h2>
        <p><b>A goal tracker that uses objectives, key results, and tasks to keep you accountable. A goal == an objective.</b></p>

        <p>Each objective has associated key result(s). Each key result has associated task(s). Tasks can be configured at different recurrences: one-time, daily, weekly, yearly.</p>

        <p>Users can review and check off their tasks for each day. By doing this, the user will have a daily reminder of what they're working towards.</p>

        <p><a href="https://en.wikipedia.org/wiki/OKR">More information about objective and key result (OKR)</a></p>
    </div>

{% endblock %}
