{% extends 'base.html' %}

{% block head %}
    <h1 style="text-align: center;">Changelog</h1>
{% endblock %}

<!-- Turn into a table? -->
{% block body %}

<h2>v1.2</h2>
Release Date: 2022-10-17<br>
New features:<br>
<ul>
    <li>Date picker
        <ul>
            <li>
                You can now use a date picker to add a due date to a task.         Previously, you could not add a due date. Now you, can use this feature to see how much time is left to achieve the task.
            </li>
            <li>
                <a href="instructions#add-a-due-date-to-a-task">View full instructions</a>
            </li>
        </ul>
    </li>
</ul>




{% endblock %}
