{% extends 'base.html' %}

{% block head %}
    <h1 style="text-align: center;">Changelog</h1>
{% endblock %}

{% block body %}

<div class="text-block">
    <h2>Source Code</h2>
    <p><a href="https://github.com/umjennifer/osu-cs361-project">Github Repo</a></p>
    
    <h2>Release</h2>
    <h3>v1.2</h3>
    Release Date: 2022-11-28<br>
    New features:<br>
    <ul>
        <li>Date picker
            <ul>
                <li>
                    You can now click "Today's Task" in the navigation bar to view your tasks for the day. Previously, you had to select a day using the date picker.
                </li>
                <li>
                    <a href="instructions#view-todays-task">View full instructions</a>
                </li>
            </ul>
        </li>
    </ul>
</div>




{% endblock %}
