{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center;">Goal Tracker</h1>
{% endblock %}

{% block body %}

  <div style="text-align: center;">
    <p><em>{{ random_quote }}</em></p>
    <p>
      <label for="start">Select a date to view the tasks for that date:</label>
      <form action="/select-date" method="POST"> 
        <input type="date" id="selected_date" name="selected_date" value="{{ today }}">
        <input type="submit" value="Submit">
      </form>
    </p>
  </div>

  {% if show_tips %}
    <form action="/tips/hide" method="POST">
      <input type="hidden" name="tips_hide" id="tips_hide" value="false">
      <input type="submit" value="Hide Tips">
    </form>
  {% else %}
    <form action="/tips/show" method="POST">
      <input type="hidden" name="tips_show" id="tips_show" value="true">
      <input type="submit" value="Show Tips">
    </form>
  {% endif %}
  <br>

  {% if objectives|length < 1%}
      There are no objectives create one below.<br>
  {% else %}
      {% for objective in objectives %}
          <div class="accordion" id="{{objective.id}}_accordion">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-objective-{{objective.id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseobjective-{{objective.id}}" aria-expanded="true" aria-controls="panelsStayOpen-collapseobjective-{{objective.id}}">

                      <span class="badge text-bg-light">Objective</span>
                      {% if objective.done == false %}
                        <span class="badge rounded-pill text-bg-primary">Not Done</span>
                        <span class="tab-10px">{{objective.content}}</span>
                      {% else %}
                          <span class="badge rounded-pill text-bg-success">Done</span>
                          <span class="tab-10px"><del>{{objective.content}}</del></span>
                      {% endif %}

                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseobjective-{{objective.id}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingobjective-{{objective.id}}">
                    <div class="accordion-body">

                        <div class="btn-group" role="group" aria-label="Basic example">
                          <form action="/update/objective/{{objective.id}}" method="GET">
                            <button type="submit" class="btn btn-link btn-sm">
                              Update Objective
                            </button> 
                          </form>
                          <form action="/delete/objective/{{objective.id}}" method="GET" onsubmit="return confirm('Deleting this objective will delete all associated key results and tasks. Click OK to continue, otherwise click cancel.');">
                            <button type="submit" class="btn btn-link btn-sm">
                              Delete Objective
                            </button> 
                          </form>
                        </div>
                      <br><br>
                      
                      {% if objective.key_results|length < 1%}
                          There are no key results.
                      {% else %}
                          {% for kr in objective.key_results %}
                              <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-kr-{{kr.id}}">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsekr-{{kr.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapsekr-{{kr.id}}">

                                    <span class="badge text-bg-secondary">Key Result</span>
                                    {% if kr.done == false %}
                                      <span class="badge rounded-pill text-bg-primary">Not Done</span>
                                      <span class="tab-10px">{{kr.content}}</span>
                                    {% else %}
                                        <span class="badge rounded-pill text-bg-success">Done</span>
                                        <span class="tab-10px"><del>{{kr.content}}</del></span>
                                    {% endif %}

                                  </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapsekr-{{kr.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingkr-{{kr.id}}">
                                  <div class="accordion-body">

                                    <div class="btn-group" role="group" aria-label="Basic example">
                                      <form action="/update/key_result/{{kr.id}}" method="GET">
                                        <button type="submit" class="btn btn-link btn-sm">
                                          Update Key Result
                                        </button> 
                                      </form>
                                      <form action="/delete/key_result/{{kr.id}}" method="GET" onsubmit="return confirm('Deleting this objective will delete all associated key results and tasks. Click OK to continue, otherwise click cancel.');">
                                        <button type="submit" class="btn btn-link btn-sm">
                                          Delete Key Result
                                        </button> 
                                      </form>
                                    </div>
                                    <br><br>

                                      {% if kr.tasks|length < 1%}
                                          There are no tasks.<br>
                                      {% else %}
                                          {% for task in kr.tasks %}
                                              <div class="accordion-item">
                                                  <h2 class="accordion-header" id="panelsStayOpen-heading-task{{task.id}}">
                                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-task{{task.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapse-task{{task.id}}">
                                                    
                                                    {% if task.startdate is none %}
                                                    <span class="badge text-bg-danger">Task (Action Required: Set Recurrence)</span>
                                                    {% else %}
                                                      {% if task.cadence is none %}
                                                        <span class="badge text-bg-dark">Task (One-Time)</span>
                                                      {% else %}
                                                        <span class="badge text-bg-dark">Task (Recurring)</span>
                                                      {% endif %}
                                                    {% endif %}

                                                    {% if task.done == false %}
                                                      <span class="badge rounded-pill text-bg-primary">Not Done</span>
                                                      <span class="tab-10px">{{task.content}}</span>
                                                    {% else %}
                                                        <span class="badge rounded-pill text-bg-success">Done</span>
                                                        <span class="tab-10px"><del>{{task.content}}</del></span>
                                                    {% endif %}
                                                    
                                                    <!-- <span class="tab-10px">{{task.content}}</span> -->

                                                  </button>
                                                  </h2>
                                                  <div id="panelsStayOpen-collapse-task{{task.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-task{{task.id}}">
                                                  <div class="accordion-body">

                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                      <form action="/update/task/{{task.id}}" method="GET">
                                                        <button type="submit" class="btn btn-link btn-sm">
                                                          Update Task
                                                        </button> 
                                                      </form>
                                                      <form action="/delete/task/{{task.id}}" method="GET" onsubmit="return confirm('This action cannot be undone. Click OK to continue, otherselect click cancel.');">
                                                        <button type="submit" class="btn btn-link btn-sm">
                                                          Delete Task
                                                        </button> 
                                                      </form>
                                                    </div>

                                                      <p>
                                                        {% if task.startdate is none %}
                                                          No recurrence; <a href="/update/task/{{task.id}}">set a recurrence.</a><br>
                                                        {% else %}
                                                          Recurrence: 
                                                          {% if task.cadence is none %}
                                                            one-time on <a href="/tasks/date/{{ task.startdate }}">{{ task.startdate }}</a>.
                                                          {% else %}
                                                            {{ task.cadence }} from {{ task.startdate }} to {{ task.enddate }}.
                                                          {% endif %}
                                                        {% endif %}
                                                      </p>

                                                  </div>
                                                  </div>
                                              </div>

                                          {% endfor %}
                                      {% endif %}
                                          <form action="/create/task" method="POST">
                                              <input type="text" name="task_content" id="task_content" required>
                                              <input type="hidden" name="key_result_id" value="{{kr.id}}">
                                              <input type="submit" value="Add task">
                                          </form>

                                          {% if show_tips %}
                                          <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="popover" title="A task is a tangible, quantifiable TODO to acheive a key result. For example, for the 'gain 5% muscle mass' key result, tasks can include: 'exercise daily', 'get 2x physicals twice a year', etc.">
                                            What is a task?
                                          </button>
                                          {% endif %}

                                  </div>
                                  </div>
                              </div>
                          {% endfor %}
                      
                      {% endif %}
                      <form action="/create/key_result" method="POST">
                          <input type="text" name="key_result_content" id="key_result_content" required>
                          <input type="hidden" name="objective_id" value="{{objective.id}}">
                          <input type="submit" value="Add key result">
                      </form>

                      {% if show_tips %}
                      <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="popover" title="A key result is measurable success criteria used to track the achievement of that goal. For example for a 'be healthier' objective, key results can include 'gain 5% muscle mass'">
                        What is a key result?
                      </button>
                      {% endif %}

                    </div>
                  </div>
                </div>
          </div>

      {% endfor %}
  {% endif %}
  <br>
  <form action="/create/objective" method="POST">
      <input type="text" name="objective_content" id="objective_content" required>
      <input type="submit" value="Add objective">
  </form> 

  {% if show_tips %}
    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="popover" title="An objective is a significant, concrete, clearly defined goal. For example:'be healthier'">What is an objective?</button>
  {% endif %}

{% endblock %}

{% block script %}
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}