{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center;">Objective Tracker</h1>
{% endblock %}

{% block body %}

  {% for message in get_flashed_messages()%}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  

  {% if objectives|length < 1%}
      There are no objectives create one below.<br>
  {% else %}
      {% for objective in objectives %}
          <div class="accordion" id="{{objective.id}}_accordian">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-objective-{{objective.id}}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseobjective-{{objective.id}}" aria-expanded="true" aria-controls="panelsStayOpen-collapseobjective-{{objective.id}}">

                      <span class="badge text-bg-light">Objective</span>
                      <span class="tab-10px">{{objective.content}}</span>

                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseobjective-{{objective.id}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingobjective-{{objective.id}}">
                    <div class="accordion-body">

                      <a href="/update/objective/{{objective.id}}">Update Objective</a> | <a href="/delete/objective/{{objective.id}}">Delete Objective</a><br><br>
                      {% if objective.key_results|length < 1%}
                          There are no key results.
                      {% else %}
                          {% for kr in objective.key_results %}
                              <div class="accordion-item">
                                  <h2 class="accordion-header" id="panelsStayOpen-kr-{{kr.id}}">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapsekr-{{kr.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapsekr-{{kr.id}}">

                                    <span class="badge text-bg-secondary">Key Result</span>
                                    <span class="tab-10px">{{kr.content}}</span>

                                  </button>
                                  </h2>
                                  <div id="panelsStayOpen-collapsekr-{{kr.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingkr-{{kr.id}}">
                                  <div class="accordion-body">

                                      <a href="/update/key_result/{{kr.id}}">Update Key Result</a> | <a href="/delete/key_result/{{kr.id}}">Delete Key Result</a><br><br>
                                      {% if kr.tasks|length < 1%}
                                          There are no tasks.<br>
                                      {% else %}
                                          {% for task in kr.tasks %}
                                              <div class="accordion-item">
                                                  <h2 class="accordion-header" id="panelsStayOpen-heading-task{{task.id}}">
                                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-task{{task.id}}" aria-expanded="false" aria-controls="panelsStayOpen-collapse-task{{task.id}}">

                                                    <span class="badge text-bg-dark">Task</span>
                                                    <span class="tab-10px">{{task.content}}</span>

                                                  </button>
                                                  </h2>
                                                  <div id="panelsStayOpen-collapse-task{{task.id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-task{{task.id}}">
                                                  <div class="accordion-body">
                                                      <a href="/update/task/{{task.id}}">Update Task</a> | <a href="/delete/task/{{task.id}}">Delete Task</a>
                                                  </div>
                                                  </div>
                                              </div>

                                          {% endfor %}
                                      {% endif %}
                                          <form action="/create/task" method="POST">
                                              <input type="text" name="task_content" id="task_content">
                                              <input type="hidden" name="key_result_id" value="{{kr.id}}">
                                              <input type="submit" value="Add task">
                                          </form>


                                  </div>
                                  </div>
                              </div>
                          {% endfor %}
                      
                      {% endif %}
                      <form action="/create/key_result" method="POST">
                          <input type="text" name="key_result_content" id="key_result_content">
                          <input type="hidden" name="objective_id" value="{{objective.id}}">
                          <input type="submit" value="Add key result">
                      </form>

                    </div>
                  </div>
                </div>
          </div>

      {% endfor %}
  {% endif %}
  <form action="/create/objective" method="POST">
      <input type="text" name="objective_content" id="objective_content">
      <input type="submit" value="Add objective">
  </form>
{% endblock %}
