{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center;">Title</h1>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Objectives</h1>
    {% if objectives|length < 1%}
    <h4>there are no objectives create one below</h4>
    {% else %}

    {% for objective in objectives %}
        <br><br>
        <h2>{{ objective.content }}</h2> <a href="/update/objective/{{objective.id}}">Update</a> | <a href="/delete/objective/{{objective.id}}">Delete</a><br>
        ID: {{ objective.id }}<br>

        <!-- LeKey Results: {{ objective.key_results | length }}<br><br> -->
        <!-- Length of key results: {{objective.key_results | count}} <br> -->

        Key Results:<br>
        {% if objective.key_results|length < 1%}
            <span class="tab"></span>There are no key results.
        {% else %}
            {% for kr in objective.key_results %}
                <span class="tab"></span>{{kr.content}} (<a href="/update/key_result/{{kr.id}}">Update</a> | <a href="/delete/key_result/{{kr.id}}">Delete</a>)<br>
            {% endfor %}
        {% endif %}
        <form action="/create/key_result" method="POST">
            <input type="text" name="key_result_content" id="key_result_content">
            <input type="hidden" name="objective_id" value="{{objective.id}}">
            <input type="submit" value="Add key result">
        </form>
    {% endfor %}

    <br>
    <br>
    {% endif %}
    <form action="/create/objective" method="POST">
        <input type="text" name="objective_content" id="objective_content">
        <input type="submit" value="Add objective">
    </form>

    <!-- <br>
    <h1>Key Results</h1>
    <table>
        <tr>
            <th>Key Result</th>
            <th>Id</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>

        {% for objective in objectives %}
            <tr>
                <td>{{ objective.content }}</td>
                <td>{{ objective.id }}</td>
                <td>{{ objective.key_results }}</td>
                <td>
                    <a href="/delete/objective/{{objective.id}}">Delete</a>
                    <br>
                    <a href="/update/objective/{{objective.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="key_result_content" id="key_result_content">
        <input type="submit" value="Add Key Result">
    </form> -->

</div>
{% endblock %}