{% extends 'base.html' %}

{% block head %}
    <h1 style="text-align: center;">Instructions</h1>
{% endblock %}

{% block body %}
    <h2>Table of Contents</h2>
    <div class="table-of-contents">
        <ul>
            <li><a href="#add-an-objective">Add an objective</a></li>
            <li><a href="#add-a-key-result">Add a key result</a></li>
        </ul>
    </div>
    <br>



    <h2 id="add-an-objective">Add an objective <a class="anchor-link " aria-label="Anchor" href="#add-an-objective" style="padding-left: 0.375em;">#</a></h2>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    </ol>

    <h2 id="add-a-key-result">Add a key result<a class="anchor-link " aria-label="Anchor" href="#add-a-key-result" style="padding-left: 0.375em;">#</a></h2>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    </ol>
    
    <h2 id="add-a-due-date-to-a-task">Add a due date to a task<a class="anchor-link " aria-label="Anchor" href="#add-a-due-date-to-a-task" style="padding-left: 0.375em;">#</a></h2>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
    </ol>

{% endblock %}
